@import "../../styles/mixins";

.about {
  margin-bottom: 3em;
}

.button {
  display: flex;
  align-items: center;
  width: fit-content;
  i {
    margin-left: 5px;
  }
  :hover {
    cursor: pointer;
  }
  &:hover a {
    text-decoration: underline;
  }
}

// .modal {
//   background: var(--bkg1);
//   z-index: 2;
//   position: fixed;
//   top: 0;
//   right: 0;
//   left: 0;
//   bottom: 0;
//   width: 90%;
//   height: 90%;
//   width: 90%;
//   max-height: 635px;
//   max-width: 600px;
//   margin: auto;
//   overflow: overlay;
//   overflow-x:hidden;
//   // overflow:auto;
//   border: 1px solid var(--text);

//   &::-webkit-scrollbar {
//     width: 10px;
//   }
//   &::-webkit-scrollbar-track {
//     background-color: transparent;
//   }
//   &::-webkit-scrollbar-thumb {
//     background-color: var(--accent1);
//   }
  
//   &__content {
//     padding: 2em;
//     // &::before {
//     //   content: "";
//     //   background: linear-gradient(180deg, rgba(20,20,20,1) 0%, rgba(20,20,20,0) 100%);
//     //   height:2em;
//     //   width:100%;
//     //   display:block;
//     //   position: sticky;
//     //   top: 0;
//     //   left:0;
//     // }
//     // &::after {
//     //   content: "";
//     //   background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(20,20,20,0) 100%);
//     //   height:2em;
//     //   width:100%;
//     //   display:block;
//     //   position: sticky;
//     //   bottom: 0;
//     //   left:0;
//     // }
//   }

//   &__close {
//     float:right;
//     position:sticky;
//     top:0;
//     margin-right:0px;
//     padding:10px;
//     color:var(--text);
//     background-color: var(--bkg1);
//     font-size:1rem;
//     z-index:999;
//     &:hover {
//       cursor:pointer;
//       color:var(--bkg1);
//       background:var(--text);
//     }
//   }

//   h1 {
//     padding-bottom: 1em;
//   }
//   p:last-of-type {
//     padding-bottom: 0px;
//   }
// }



// .backdrop {
//   pointer-events: none;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.9);
//   position: fixed;
//   top: 0px;
//   left: 0;
//   opacity: 1;
//   z-index: 1;
//   pointer-events: all;
// }
