@import "../../styles/mixins";

.about {
  margin-bottom: 2em;
}

.button {
  display: flex;
  align-items: center;
  width: fit-content;
  i {
    margin-left: 5px;
  }
  :hover {
    cursor: pointer;
  }
  &:hover a {
    text-decoration: underline;
  }
}

.image {
  position: relative;
  width: 250px;
  height: 250px;
  margin:auto;
  margin-bottom: 2em;
}

[data-theme="crt"] .image {
  background-color: var(--text);

  img {
    filter: grayscale(1) contrast(1.5) brightness(1.3);
    mix-blend-mode:multiply;
    image-rendering: pixelated;
  }
}
