@import "../../styles/mixins";

.about {
  margin-bottom: 3em;
}

.button {
  display: flex;
  align-items: center;
  width: fit-content;
  i {
    margin-left: 5px;
  }
  :hover {
    cursor: pointer;
  }
  &:hover a {
    text-decoration: underline;
  }
}