.contact {
    display: grid;
		grid-template-columns:1fr;
		gap:10px;
		input, textarea {
			display:block;
			background:transparent;
			border:1px solid var(--accent1);
			padding:1em;
			color:var(--text)
		}
		textarea {
			resize: vertical;
			min-height:75px;
		}
		input:-webkit-autofill,
		input:-webkit-autofill:hover, 
		input:-webkit-autofill:focus, 
		input:-webkit-autofill:active {
			transition: background-color 5000s ease-in-out 0s;
			-webkit-text-fill-color: var(--text) ;
			font-family:var(--body-font)!important;
		}
		
}
