@import "styles/variables";
@import "styles/mixins";


/* 
  css reset
  http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
  */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

// globals

@font-face {
  font-family: 'United';
  src: url('/fonts/UnitedKingdom.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Orbitron';
  src: url('/fonts/Orbitron-Regular.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source';
  src: url('/fonts/SourceCodePro-Regular.woff');
  font-weight: normal;
  font-style: normal;
}


body {
  width:var(--siteW);
  max-width:90%;
  margin:0px auto;
  // background-image: url("/svg/graph-paper.svg");
  // background-repeat: repeat;
  background-color:var(--bkg1);
}

* {
  color:var(--text);
  font-family:var(--body-font);
}

h1 {
  font-family:var(--header-font);
}

h2, h3 {
  text-transform: uppercase;
  font-family:var(--subtitle-font);
}
h4 {
  font-family:var(--subtitle-font);
  letter-spacing:1px;
}

p {
  font-size:1rem;
  padding-bottom:1em;
  line-height:1.4rem;
  font-family:var(--body-font);
  @include tablet(){
    font-size:.8rem;
  }
}

a {
  font-family:var(--body-font);
}

.page-container {
  margin-top:-1px;
  padding:25px;
  border:1px solid var(--accent1);
  z-index: -1;
  @include tablet(){
    padding:20px;
  }
  @include mobile(){
    padding:15px;
  }
}

.btn {
  background:var(--bkg1);
  border:1px solid var(--accent1);
  color:var(--accent1);
  padding:10px 20px;
  font-size:1rem;
  text-decoration: none;
  display:block;
  width:fit-content;
  i {
    color:var(--accent1);
  }
  &:hover, &:hover i {
    color: var(--bkg1);
    background:var(--text);
    cursor:pointer;
  }
}


// about page boxes
.skillsBox {
  margin-bottom:15px;

  &:not(:last-child) {
  margin:35px 0px 35px 0px;
  }

  h2 {
    font-size: 1.3rem;
    letter-spacing: 5px;
    display: flex;
    flex-direction: row;
    margin:0px;
    margin-top:0px;
    &::before {
      content: "";
      flex-basis: 25px;
      border-top: 1px solid rgb(100, 100, 100);
      margin: auto;
      margin-right: 15px;
    } 
    &::after {
      content: "";
      flex: 1;
      border-top: 1px solid rgb(100, 100, 100);
      margin: auto;
      margin-left: 15px;
    }
  }

  div {
    border-left:1px solid rgb(100, 100, 100);
    border-right:1px solid rgb(100, 100, 100);
    border-bottom:1px solid rgb(100, 100, 100);
    margin:-10px auto;
    padding:40px 20px 30px 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  i {
    font-size: 50px;
    padding: 10px 20px;
    @include tablet() {
      padding: 8px 16px;
      font-size: 40px;
    }
  }
}
