
.nav ul {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    justify-content:center;
    align-items: flex-start;
    text-align: center;
    gap:1rem;
    // .activeLi:after {
    //     content: "";
    //     position: absolute;
    //     height: 1px;
    //     width: 200px;
    //     border-bottom: 1px solid red!important;
    //   }
    .activeLi {
        border-bottom: none;
        background:var(--bkg1);
      }
    
    li {
        border: 1px solid var(--accent1);
    }
    a {
        display:flex;
        flex-direction:column;
        gap:10px;
        text-decoration: none;
        padding:25px;
        opacity:.5;
        &:hover{
            opacity:1; 
        }
    }
    h3{
        letter-spacing: 1px;
        font-size:1.2rem;
    }
    i {
        font-size:2rem;
    }
    .active {
        opacity:1!important;
        margin-bottom:1em;
    }
}

