

.project {
  border:1px solid var(--accent1);
  margin-bottom:20px;
}
.info {
  padding:5px 15px 15px 15px;
}
i.projectThumb {
  font-size:4em;
  padding:5px;
}

.link {
  text-decoration: none;
}

.title {
  color:rgb(245, 245, 245);
  font-size: 1.2em;
  padding-left:15px;
  /* text-transform: uppercase; */
  letter-spacing: -1px;
  text-align: center;
  line-height: 1.2em;
}

.flex {
  padding:15px 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &:hover {
    cursor: pointer;
    .toggleArrow i {
      color:var(--text);
    }
  }
}

.arrow {
  margin-left:auto;
  font-size:25px;
  i {
    color:var(--accent1);
  }
}



.icons {
  font-size:30px;
  max-width:400px;
  margin-right: auto;
  padding-bottom:15px;
  i {
    padding:3px;
    &:first-child {
      padding-left:0px;
    }
  }
}

.projectSvg {
  fill:rgb(240, 240, 240);
}

.buttons {
  display:flex;
  gap:10px;
}


